body {
    font-family: 'Verdana', sans-serif;
    line-height: 1.6;
    font-size: 18px;
    color: #404040;
    background-color: #f7f7f7;

    text-align: justify;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 900px) { /* For too small screens display as fullsize blocks */
    body{
        text-align: left;
    }
}

/*------------------------------------------------------------------ Side navbar ---------------------------------------------------------------------*/

.sidenav {
    height: 100%;
    height: 100vh;
    width: 55px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #282827;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}

.sidenav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 22px;
    color: #72726f;
    display: block;
}

.sidenav-link:hover {
    color: #f1f1f1;
}

.selected {
    border-left: 4px solid #6492a3;
}

.profile-img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-bottom: 18px;
    cursor: pointer;
}

/*------------------------------------------------------------------ Header ---------------------------------------------------------------------*/

.page-header {
    background-image: url("pattern.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80px;
    padding-top: 2px;
    display:table;
    width:100%;
}

.header-content {
    padding:0;
    vertical-align:middle;
    display:table-cell;
    color: #fff;
}

.header-content span {
    margin-left: 5%;
    font-size: 28px;
}

/*------------------------------------------------------------------ Page content ---------------------------------------------------------------------*/

.main {
    margin-left: 55px;
}

.page-content {
    width:80%;
    margin: 30px auto;
}

@media only screen and (max-width: 900px) {
    .page-content{
        width: auto;
        margin:10px;
    }
}

.page-content-lg {
    margin: 20px;
}

/*------------------------------------------------------------------ Footer ---------------------------------------------------------------------*/

/*------------------------------------------------------------------ Profile popup ---------------------------------------------------------------------*/

.hidden{
    display: none !important;
}

.profile-actions {
    position: fixed;
    left: 70px;
    top: 24px;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.2);
    border: 1px solid #E3E3E3;
    border-radius: 5px;

    background-color: #f9f9f9;
    width:200px;
    height:100px;

    animation-name: fadein;
    animation-duration: 0.3s;
}

.profile-actions:before{
    content: "";
    position: absolute;
    top: 5px;
    left:-25px;
    z-index: -1;
    border: solid 15px transparent;
    border-right-color: #f9f9f9;
}

.profile-actions-content {
    width: 100%;
    margin-top:5px;
    height: 90%;
    vertical-align: middle;
}

.profile-actions-link{
    width:100%;
    height: 50%;
    display: block;
    margin:0;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    font-size: 18px;
    color: #545454;
}

.profile-actions-link:hover{
    background-color: #efefef;
}

.logout-link{
    color: #6492a3 ;
}

/*------------------------------------------------------------------ Modal ---------------------------------------------------------------------*/

.modal { /* This is actually page cover when modal is active */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    animation-name: fadein;
    animation-duration: 0.5s;
}

.modal-content {
	background-color: #f7f7f7;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;

    border-radius: 5px;

    animation-name: zoom;
    animation-duration: 0.5s;
}

.confirm-modal-content {
    background-color: #f7f7f7;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;

    border-radius: 5px;

    animation-name: zoom;
    animation-duration: 0.5s;
}

.close {
    color: #ff6961;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ff2015;
    text-decoration: none;
    cursor: pointer;
}

.prevent-scroll{
    overflow: hidden;
	margin-right: 17px;
}

.delete-project-name{
    color:#DB3232;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
@keyframes fadein {
    from { opacity:0; }
    to { opacity:1; }
}

@media only screen and (max-width: 900px) {
    .confirm-modal-content{
        width:60%;
    }
}

/*------------------------------------------------------------------ Loader ---------------------------------------------------------------------*/

.spinner{
    /* display: inline-block;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    border-top: 3px solid #fff; */

    position: fixed;
    top:0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    border: 5px solid #fff;
    border-top-color: #6492a3;
    border-radius: 50%;

    width: 35px;
    height: 35px;

    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*------------------------------------------------------------------ Buttons ---------------------------------------------------------------------*/

.btn-round{
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    
    border: 2px solid transparent;
    background-color: #555555;
    color: #f7f7f7;

    transition: background-color 0.35s ease,
                color 0.35s ease,
                border 0.35s ease;
}

.btn-round:hover{
    border: 2px solid #555555;
    color: #555555;
    background-color: transparent;
}

.btn-round:focus{
    outline: none;
}

.btn-blue{
    background-color: #6492a3;
    color: #f7f7f7;
}

.btn-blue:hover{
    background-color: transparent;
    color: #6492a3;
    border: 2px solid #6492a3;
}

.btn-red{
    background-color:#DB3232;
    color:#f7f7f7;
}

.btn-red:hover{
    background-color: transparent;
    color: #DB3232;
    border: 2px solid #DB3232;
}


.btn-add-circle{
    background-color: #A3646A;
    border: 2px solid transparent;
    color: #f7f7f7;
    box-shadow: 2px 2px 3px #999;

    position: absolute;
    border-radius: 50%;
    width:50px;
    height:50px;
    font-size: 18px;

    cursor: pointer;

    transition: background-color 0.35s ease,
                color 0.35s ease,
                border 0.35s ease,
                transform 0.35s ease;
}

.btn-add-circle:hover{
    /* background-color: #A3647D; */
    background-color: #b58387;
    transform: scale(1.1);
    box-shadow: 2px 2px 8px #999;
}

.btn-add-circle:focus{
    outline: none;
}
.btn-add-circle fa{
    color:#f7f7f7;
}

.center-text-margin{
    text-align: center;
    margin-right: 55px;
}

/*------------------------------------------------------------------ Links ---------------------------------------------------------------------*/

.blue-link{
    text-decoration: none;
    color: #466672;
}

.blue-link:hover{
    color:#6492a3;
}

/*------------------------------------------------------------------ Grid ---------------------------------------------------------------------*/

.grid{
    width:100%;
    display:block;
}

.split-grid-left{
    width:48%;
    float:left;
}

.split-grid-right{
    width:48%;
    float:right;
}

@media only screen and (max-width: 900px) { /* For too small screens display as fullsize blocks */
    .split-grid-left, .split-grid-right{
        display: block;
        width: 100%;
    }
}

/*------------------------------------------------------------------ Cards ---------------------------------------------------------------------*/

.card{
    width: 100%;
    border: 4px solid #e3e3e3;
    border-radius: 10px;
    margin-bottom: 30px;

    background-color: #fbfbfb;
}

.card-content{
    margin: 40px;
}

/*------------------------------------------------------------------ Tasks ---------------------------------------------------------------------*/

.task-column {
    width:29%;
    border-radius: 10px;
    background-color: #e3e3e3;
    padding:0px 8px 15px 8px;
    float: left;
    margin: 0 10px;
}

.task {
    margin:0 10px 20px 10px;
    padding: 5px;
    background-color: #f7f7f7;
    border-radius: 3px;

    cursor: pointer;
}

.task-title {
    color:#191919;
}

.task-column > h3 > .fa {
    color: #9f9f9f;
    font-size: 16px;
}

.task-description {
    color: #9f9f9f;
    font-size: 16px;
    margin-left: 5px;
}

.status {
    padding: 7px 12px;
    background-color: #e3e3e3;
    cursor: pointer;
}
.status:first-of-type{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.status:last-of-type{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.selected-status{
    background-color: #b6b6b6;
}

.yellow-border{
    border-left: 8px solid #fccf54;
}

.red-border{
    border-left: 8px solid #c42020;
}

.blue-border{
    border-left: 8px solid #5289c2;
}

.green-border{
    border-left: 8px solid #329966;
}

.orange-border{
    border-left: 8px solid #f99625;
}

.yellow-modal-border{
    border-left: 6px solid #fccf54;
}

.red-modal-border{
    border-left: 6px solid #c42020;
}

.blue-modal-border{
    border-left: 6px solid #5289c2;
}

.green-modal-border{
    border-left: 6px solid #329966;
}

.orange-modal-border{
    border-left: 6px solid #f99625;
}

@media only screen and (max-width: 925px) { /* For too small screens display as fullsize blocks */
    .task-column{
        width: 28%;
    }
}

@media only screen and (max-width: 770px) { /* For too small screens display as fullsize blocks */
    .task-column{
        width: 27%;
    }
}

@media only screen and (max-width: 665px) { /* For too small screens display as fullsize blocks */
    .task-column{
        display: block;
        width: 90%;
        margin:20px;
    }
}

/*------------------------------------------------------------------ Table ---------------------------------------------------------------------*/

table{
    width: 100%;
    border: 1px solid #e3e3e3;
    margin: 20px 0;
    border-collapse: collapse;
    overflow-x:auto;
}

th, td{
    text-align: left;
    padding: 8px;
    text-overflow: ellipsis;
    overflow: hidden; 
}
thead, tbody {
    border-collapse: collapse;
}
thead{
    /*border-bottom: 3px solid #6492a3;*/
    background-image: url("pattern.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color:#f7f7f7;
}
table.has-image img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

table.has-image td:first-child{
    width: 50px;
}

tr:nth-child(even){background-color: #f2f2f2}

.table-card-content{
    padding:10px;
}
.actions-th{
    text-align: center;
    float: right;
}
.actions-td{
    text-align: center;
    font-size: 22px; 
    float: right;
}

.edit-color{
    color:#6492a3;
}

.edit-color:hover{
    color:#92b2be;
}

.delete-color{
    color:#ad341d;
}

.delete-color:hover{
    color:#bd5c4a;
}

.pointer{
    cursor: pointer;
}

/*--------------------------------------------------------------- Full page background -------------------------------------------------------------------*/

.full-page-background {
    width:100%;
    min-height:100vh;
    
    background-image: url("pattern.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.full-page-centered-text {
    margin: auto;
    text-align: center;

    color:#f8f8f8;
}

/*--------------------------------------------------------------- Page not found -------------------------------------------------------------------*/

.not-found-card {
    margin: auto;
    padding: 50px;
    color: #c7c7c7;
    font-size:30px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    text-align: center;
}

.not-found-code {
    font-size: 120px;
    color: #a36492;
}
/*--------------------------------------------------------------- Form -------------------------------------------------------------------*/

.form-row {
    width:100%;
    margin: 10px auto;
}

.input-round {
    padding: 5px 10px;
    border: 1px solid #507482;
    border-radius:25px;
    line-height: 18px;
    font-size: 16px;
    margin:5px auto;

    width: 95%;
}

.input-round:focus {
    outline: none;
    border: 1px solid #96abb4;
}

.warning-window{
    background-color:#fff;
    
    position:fixed;
    bottom:0;
    right:0;
    margin:50px;
    
    font-family: verdana;

    animation-name: zoom;
    animation-duration: 0.2s;
}
.warning-header{
    display:inline;
    
    background-color:#ff5b5b;
    color:white;
    text-align:center;
    
    padding:10px 15px;
}
.warning-text{
    display:inline;

    background-color: #fff;
    color:#4e4e4e;
    padding:10px;
}

textarea{
    font-family: 'Verdana', sans-serif;
}

/*--------------------------------------------------------------- Colors -------------------------------------------------------------------*/

.project-color{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.empty-header-column{
    display: none;
}

@media only screen and (max-width: 600px) {
    .project-color{
        width: 5px;
        height: 50px;
        border-radius: 0;
    }
    
    table.has-image td:first-child{
        width: 5px;
    }
    table.has-image th:first-child{
        display: none;
    }
    .empty-header-column{
        display: inline;
    }
}

.yellow{
    background-color: #fccf54;
}

.red{
    background-color: #c42020;
}

.blue{
    background-color: #5289c2;
}

.green{
    background-color: #329966;
}

.orange{
    background-color: #f99625;
}

.color-option-outline {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 4px;
    margin-right: 5px;
    border: 1px solid transparent;
}

.color-option {
    width:100%;
    height:100%;
    border-radius: 50%;
}

.selected-color{
    border: 1px solid #515151;
}

.color-option.yellow:hover{
    background-color: #fdd872;
}

.color-option.red:hover{
    background-color: #c53a3a;
}

.color-option.blue:hover{
    background-color: #6191c5;
}

.color-option.green:hover{
    background-color: #47b37d;
}

.color-option.orange:hover{
    background-color: #f8a13d;
}